.nav-menu a {
    text-decoration: none;
    font-family:cursive;
    justify-content:right;
    font-size: 18px;
    color:rgb(213, 216, 26);
    font-weight: 500;
    padding: 8px 16px 5px 10px; 
    border-radius: 10px;
    transition: all 0.3s ease;
}

.nav-menu a:hover, 
.nav-menu a.active {
    background-color: rgba(235, 225, 223, 0.1); /* 10% translucent terracotta */
    color: #feb47b;
}

/**logo text style set**/
 .header-banner {
    color: #a06f58;
    font-family:cursive;
    text-align:left; 
   padding: 10px 10px;  
}
li {
      display: inline;
}
/**background image set**/
    /*logo writing style set*/
.text-logo {
  font-size: 24px;
  font-weight: 1200;
  background: -webk it-linear-gradient(#eee, #333);
  background: linear-gradient(to right,rgb(213, 216, 26), #161cce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: sans-serif;
}

       
        header 
        { 
            background:rgb(233, 233, 236); 
            color:rgb(12, 11, 10); 
            text-align: center;
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        nav 
        { 
            background:black;
            color:rgb(213, 216, 26); 
            padding: 0px; 
            justify-content:left; 
            gap: 2px; 
        }
        .container 
        { 
            display: flex; 
            min-height: 400px; }
        main 
        { 
            flex: 3; 
            padding: 20px; 
            background: #5590f5; 
            background-image: url("./images/hibban-heaven.jpeg");
            background-repeat: round;
      background-attachment:fixed;
      background-size:cover;
      
      border-bottom: #5590f5;

        }
        
        aside { 
            flex: 1; 
            padding: 20px; 
            background: rgb(228, 225, 225);
            color:rgb(190, 190, 186);
            font-family:Arial, Helvetica, sans-serif;
             

        }
        footer { 
            background: black; 
            color:rgb(236, 195, 104); 
            text-align: center; 
            padding: 1rem; }


